.reviewContainer {
  background-color: #f8edae73;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  padding-top: 5px;
  margin-bottom: 1rem;
}

.stars {
  font-size: 2rem;
  color: gold;
  width: fit-content;
}

.valueStars {
  font-size: 1.4rem;
  color: green;
  width: fit-content;
}

.title {
  font-weight: 500;
  font-size: 1.3rem;

  line-height: 3rem;
}

.name {
  font-weight: 500;
}

.header {
  display: flex;
}

@media (max-width: 700px) {
  .header {
    display: block;
  }
}

@media (min-width: 700px) {
  .title {
    line-height: 3rem;
    padding-left: 1rem;
  }
}

.extraData {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 1rem;
}