.pageLayout {
  margin-top: 3rem;
  width: 90%;
  max-width: 1620px;
}

.contentLayout {
  display: grid;
  grid-template-columns: auto 430px;
  gap: 10px;
  margin-bottom: 1rem;
}

@media (min-width: 1430px) {
  .videoParaLayout {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 10px;
  }
}

@media (max-width: 1427px) {
  .videoContainer {
    display: block;
    text-align: center;
    margin: 2rem 0;
  }
}

.beforeAndAfterGrid {
  display: grid;
  grid-template-columns: 220px;
  gap: 10px;

  height: 900px;
  overflow: hidden;
}

@media (max-width: 1400px) {
  .beforeAndAfterGrid {
    height: 1130px;
  }
}

@media (max-width: 1100px) {
  .beforeAndAfterGrid {
    height: 1360px;
  }
}

@media (max-width: 1000px) {
  .beforeAndAfterGrid {
    height: 1580px;
  }
}

@media (max-width: 950px) {
  .beforeAndAfterGrid {
    height: 1810px;
  }
}

@media (max-width: 850px) {
  .contentLayout {
    grid-template-columns: 1fr;
  }

  .beforeAndAfterGrid {
    overflow: auto;
  }
}