.reviewsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 750px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.header {
  padding-bottom: 1.5rem;
}