.pageLayout {
  margin-top: 3rem;
  width: 90%;
  max-width: 1620px;
  /* display: grid;
  grid-template-rows: auto 430px;
  gap: 10px; */
}

.images {
  display: grid;
  grid-template-columns: repeat(6, 330px);
}