.pageLayout {
  margin-top: 3rem;
  width: 90%;
  max-width: 1620px;
}

.contentLayout {
  display: grid;
  grid-template-columns: auto 430px;
  gap: 10px;
  margin-bottom: 1rem;
}

.beforeAndAfterGrid {
  display: grid;
  grid-template-columns: 220px;
  gap: 10px;

  height: 700px;
  overflow: hidden;
}

@media (max-width: 850px) {
  .contentLayout {
    grid-template-columns: 1fr;
  }
}